.col-1-5 {
    flex: 0 0 10%;
    max-width: 10%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.table td {
    vertical-align: middle;
}
@media print {
    .no-print {
        display: none !important;
    }

    .form-control {
        border: 0;
        padding:0;
        overflow:visible;
    }

    .table td {
        padding: 0.1rem;
        border-top: 2px solid #b8cbc0;
    }

    /* Webkit */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}