<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inventar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4316931bf2.js" crossorigin="anonymous"></script>

    <style>
        .col-1-5 {
            flex: 0 0 10%;
            max-width: 10%;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
    </style>
</head>
<body>

<div class="fixed-bottom">
Status: <iframe style="height: 40px; margin-top: 0.8em" name="transFrame" id="transFrame"></iframe>
</div>
<header class="sticky-top my-3 mx-1">
    <div class="d-inline-block">
        <form class="form-inline d-inline-block col-3" method="get" action="/changes">
            <div class="input-group">
                <button type="submit" class="btn btn-primary">Izmene</button>
                <input type="text" class="form-control col-3" name="date" placeholder="Od">
                <input type="text" class="form-control col-3" name="until" placeholder="Do">
                <input type="text" class="form-control col-6" name="inventory">
            </div>
        </form><form class="form-inline d-inline-block col-3" method="get" action="/expenses">
            <div class="input-group">
                <button type="submit" class="btn btn-warning">Troškovi</button>
                <input type="text" class="form-control col-3" name="date" placeholder="Od">
                <input type="text" class="form-control col-3" name="until" placeholder="Do">
                <input type="text" class="form-control col-6" name="inventory" value="Stanje">
            </div>
        </form><form class="form-inline d-inline-block col-3" method="get" action="/purchases">
            <div class="input-group">
                <button type="submit" class="btn btn-success">Nabavke</button>
                <input type="text" class="form-control col-3" name="date" placeholder="Od">
                <input type="text" class="form-control col-3" name="until" placeholder="Do">
                <input type="text" class="form-control col-6" name="inventory" value="Stanje">
            </div>
        </form><form class="form-inline d-inline-block col-3" method="get" action="/prices">
        <div class="input-group">
            <button type="submit" class="btn btn-secondary">Cene</button>
            <input type="text" class="form-control col-3" name="date" placeholder="Od">
            <input type="text" class="form-control col-3" name="until" placeholder="Do">
            <input type="text" class="form-control col-6" name="inventory" value="Preostalo na ugovoru">
        </div>
    </form>
    </div>
</header>

<h1 class="display-2 text-center" style="margin: 1.5rem auto 0 auto">Inventar</h1>
<h3 class="display-5 text-center" style="margin: 0 auto 2.5rem auto" th:text="'Stanje na dan ' + ${date}">Trenutno stanje</h3>

<div class="text-center" style="margin: 2rem auto">
    <a href="/" class="btn btn-lg btn-info" style="padding: 0.5em 2.5em">Početna</a>
</div>

<div class="container-fluid">

    <table class="table mx-auto" style="width: 92% !important;">
        <tr>
            <th scope="col">Broj partije</th>
            <th scope="col">Broj stavke</th>
            <th scope="col">Ime</th>
            <th scope="col">Dobavljač</th>
            <th scope="col">Cena</th>
            <th scope="col" th:each="inv : ${inventories}" th:text="${inv.ime}">Inventory name</th>
        </tr>
        <tr th:each="row : ${data}">
            <td th:text="${row.brPartije}">-1</td>
            <td th:text="${row.brStavke}">-1</td>
            <td th:text="${row.ime}">@@@</td>
            <td th:text="${row.dobavljac}">@@@</td>
            <td th:text="${row.cena}">-1</td>
            <td th:each="inv : ${inventories}" class="col-1-5">
                <form class="form-inline" method="POST" action="/api/setAmount" target="transFrame">
                    <div class="input-group">
                        <input type="number" class="form-control" name="amount"  autocomplete="off" th:value="${row.amounts.getOrDefault(inv.ime, 0)}" step="any">
                        <input type="text" name="inventoryName" th:value="${inv.ime}" hidden>
                        <input type="number" name="brPartije" th:value="${row.brPartije}" hidden>
                        <input type="number" name="brStavke" th:value="${row.brStavke}" hidden>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> </button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>

<div class="text-center" style="margin: 2.5rem auto 1.5rem auto">
    <a href="/" class="btn btn-lg btn-info" style="padding: 0.5em 2.5em">Početna</a>
</div>

</body>
</html>