<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sr">
<head>
    <title>Izveštaj</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/common.css">
    <script src="https://kit.fontawesome.com/4316931bf2.js" crossorigin="anonymous"></script>
</head>
<body>
<h1 class="display-2 text-center" style="margin: 1.5rem auto 0 auto">Izveštaj</h1>
<h3 class="display-5 text-center" style="margin: 0 auto 2.5rem auto" th:text="'Promene od ' + ${date} + ' do ' + ${untilDate}">Pregled promena</h3>

<div class="text-center no-print" style="margin: 2rem auto">
    <a href="/" class="btn btn-lg btn-info no-print" style="padding: 0.5em 2.5em">Početna</a>
</div>

<div class="container-fluid">

    <table class="table mx-auto" style="width: 92% !important;">
        <tr>
            <th scope="col">Broj partije</th>
            <th scope="col">Broj stavke</th>
            <th scope="col">Ime</th>
            <th scope="col">RGN</th>
            <th scope="col">Dobavljač</th>
            <th scope="col" th:each="col : ${colnames}" th:text="${col}">Ime kolone</th>
        </tr>
        <tr th:each="row : ${data}" th:with="item=${row.key},changes=${row.value}">
            <td th:text="${item.brPartije}">-1</td>
            <td th:text="${item.brStavke}">-1</td>
            <td th:text="${item.ime}">@@@</td>
            <td th:text="${item.rgn}">---</td>
            <td th:text="${item.dobavljac}">@@@</td>
            <td th:each="change : ${changes}" th:text="${change}">-1</td>
        </tr>
    </table>
</div>


<div class="text-center no-print" style="margin: 2.5rem auto 1.5rem auto">
    <a href="/" class="btn btn-lg btn-info no-print" style="padding: 0.5em 2.5em">Početna</a>
</div>
</body>
</html>